body {
  margin:0;
  font-family:Arial;
  background-image:url(backcouleur.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  background-color: transparent;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #408C66;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.reseaux {
  font-size: 25px;
  color: black;
  font-weight: bold;
}
img{
margin-bottom: 4%;
}
#nomtitre {
  text-align: center;
  margin-top: 5%;
  font-size: 60px;
  color: white;
}
.titrenom {
  text-align: center;
  margin-top: 5%;
  font-size: 60px;
  color: black;
}
#postetitre {
  text-align: center;
  margin-top: 1%;
  font-size: 50px;
  color: #37D199;
  /* #4D8C65 */
}
#phrasetitre {
  text-align: center;
  margin-top: 1%;
  font-size: 20px;
  color: white;
}
#fondcontact {
  margin-top: 10%;
  background-color: #f2f2f2;
  opacity: 0.70;
  width: 100%;
  height: 200px;
  text-align: center;
}
.tailleimage {
  width: 100px;
  height: 100px;
  margin-left: 2%;
  margin-top: 15%;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
a:hover{
  text-decoration: none;
  color: #4ED4A3;
  font-weight: bold;
}
@media all and (max-width: 620px){
  #fond {
  height: 700px;
  }
}
@media all and (max-width: 620px){
  #competencesfond {
    height: 2800px !important;
  }
}
@media all and (max-width: 620px){
  #diplome {
    height: 1700px !important;
  }
}
@media all and (max-width: 620px){
  #expro {
    height: 4100px !important;
  }
}
#fond {
  margin-top: 5%;
  background-color: white;
  opacity: 0.66;
}
#fond2 {
  background-color: #152E2B;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height:100%;
}
#fond3{
  background-color: #070F0E;
  opacity: 0.8;
  height: 105px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#espace {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
  top: 15%; /* poussé de la moitié de hauteur du référent */
transform: translateY(+180%); /* tiré de la moitié de sa propre hauteur */
}
#espace1 {
  margin-top: 1%;
  text-align: center;
  margin-bottom: 2%;
  color: white;
  font-weight: bold;
  font-size: 17px;
  top: 15%; /* poussé de la moitié de hauteur du référent */
transform: translateY(+70%); /* tiré de la moitié de sa propre hauteur */

}
#espacecompetences{
    margin-top: 20%;
}
/* html { overflow-y: hidden; } */

/* PARTIE EXPERIENCES PRO */
.titrenom {
  font-size: 50px;
}
.titrecompétences{
  font-size: 20px;
  color: #22614A;
  text-align: center;
  font-weight: bold;
  margin-top: 4%;
}
.descriptifcompétences {
  color: black;
  width: 70%;
  margin-left: 20%;
  margin-right: 20%;

}
.titresite{
  text-align: center;
  color: black;
  font-size: 18px;
}
#fondexpro{
  background-color: white;
  opacity: 0.70;
  border-radius: 40px;
  height: 1060px;
  width: 80%;
  }
  #exception {
    font-size: 20px;
    color: #4ED4A3;
    text-align: center;
    font-weight: bold;
    margin-top: 4%;
  }
hr{
  height: 1px;
  	border: 0;
  	color: black;
  	background-color: black;
    width: 50px;
    margin-top: 1%;
}
/* PARTIE COMPETENCES */
#competencesfond {
  background-color: white;
  opacity: 0.80;
  height: 1300px;
  border-radius: 7px;
}
#titrecompetences1 {
  color: black;
  font-size: 50px;
  text-align: center;
  padding-top: 2%;
}

.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}
.sectiontitle h2 {
  font-size: 160%;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
.projectFactsWrap{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
#projectFacts .fullWidth{
  margin: 0 auto;


}
.projectFactsWrap .item{
  width: 20%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item p.number{
  font-size: 25px;
  padding: 0;
  font-weight: bold;
}
.projectFactsWrap .item p{
  color: #5B5B5B;
  font-size: 18px;
  margin: 0;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}
.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color:  #1F9069;
}
.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: #1F9069;
}
.projectFactsWrap .item:hover span{
  background: #1F9069;
}
@media (max-width: 768px){
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}
.about-me-img {
  width: 100px;
  height: 100px;
  left: 5px;
  position: relative;
  border-radius: 100px;
}
.about-me-img img {
}
.authorWindow{
  width: 600px;
  background: #75439a;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}
.authorWindowWrapper{
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}
.trans{
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 768px) {
  .authorWindow{
    width: 210px;
  }
  .authorWindowWrapper{
    bottom: -150px;
    margin-bottom: 10px;
  }
}
#titrecompetences {
  color: #4ED4A3;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}
#number1:after {
  content: "%";
}
#number2:after {
  content: "%";
}
#number3:after {
  content: "%";
}
#number5:after {
  content: "%";
}
#number6:after {
  content: "%";
}
#number7:after {
  content: "%";
}
#number8:after {
  content: "%";
}
#number9:after {
  content: "%";
}
#number4:after {
  content: "%";
}
#number12:after {
  content: "%";
}
#number10:after {
  content: "%";
}
#number13:after {
  content: "%";
}
#number16:after {
  content: "%";
}
#number11:after {
  content: "%";
}
#number14:after {
  content: "%";
}

#number15:after {
  content: "%";
}
#number18:after {
  content: "%";
}
#number19:after {
  content: "%";
}
#number20:after {
  content: "%";
}
#number21:after {
  content: "%";
}
/* PARTIE DIPLOME */
#competencesfonddiplome {
  background-color: white;
  opacity: 0.80;
  width: 100%;
  height: 800px;
  margin-top: 5%;
}
.titreformation {
  font-size: 30px;
  margin-top: 3%;
}
.descformation {
  font-size: 18px;
  color: #29685E;
  font-weight: bold;
}
.timeline {
  list-style: none;
  padding: 30px 0 40px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 4px;
  background-color: #29685E;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 37%;
  border: 2px solid #4ED4A3;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  margin-left: 9%;
  margin-right: 9%;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #4ED4A3;
  border-right: 0 solid #4ED4A3;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #4ED4A3;
  border-right: 0 solid #4ED4A3;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #4ED4A3;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;

}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-badge.violet {
  background-color: purple !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
body{
  background-color: black;
}
#competencesfond5 {
  width: 100%;
}
#diplome {
    background-color: white;
    opacity: 0.80;
    height: 780px;
    border-radius: 7px;
  }

  #expro {
      background-color: white;
      opacity: 0.80;
      height: 1450px;
      border-radius: 7px;
    }
    /* PARTIE CONTACT */
#fondcontact {
  background-color: white;
  opacity: 0.80;
  height: 500px;

}
#dethorey {
  color: #4ED4A3;
  font-weight: bold;
  font-size: 45px;
  margin-top: 1%;
}
#resume {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 2%;
  font-size: 20px;
}
.tailleimagecontact {
  width: 40px;
  height: 40px;
  margin-left: 2%;
  margin-top: 5%;
}

.texteimage {
  font-size: 17px;
  color: black;
  font-weight: bold;
}
#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}
#contactfond {
    background-color: white;
    opacity: 0.80;
    border-radius: 7px;
  }
/* IMAGE RESEAUX BOUGER */
/* Reflet */
/* logo move */
#logo {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
}
